*.log

# =============================================================================
# Build-process files
# =============================================================================
*.o
*.lo
*.pyc
*.Plo
build/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
install_manifest.txt

# =============================================================================
# OS specific files
# =============================================================================
.DS_Store
*.swp
*.lock
profile

# =============================================================================
# IDE specific files
# =============================================================================
# Netbeans
dist/
# SublimeText
*.sublime-project
*.sublime-workspace
# VisualStudio
*.opensdf
# XCode
DerivedData/
*~.nib
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
xcuserdata
*.moved-aside
Pods/
Podfile.lock
# Qt Creator
CMakeLists.txt.user

# =============================================================================
# Others
# =============================================================================
# CTags
.tags
.tags_sorted_by_file

# =============================================================================
# Clean-Up Temporary
# =============================================================================
old_src/
# =============================================================================
# Credits
# =============================================================================
# http://stackoverflow.com/questions/49478/git-ignore-file-for-xcode-projects
